body{
   background-color: rgb(172, 172, 255);
}

.home{
    display: flex;
   
    align-items: center;
   justify-content: center;
    border-top:5px solid black;
    border-bottom: 5px solid black;
    height: 100vh;
  
    
}